* {
    padding: 0;
    margin: 0;
}

.historyDesign {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #E4E4E1;
    background-image: radial-gradient(at top center, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%), linear-gradient(to top, rgba(255, 255, 255, 0.1) 0%, rgba(143, 152, 157, 0.60) 100%);
    background-blend-mode: normal, multiply;
}

.historyDesign img {
    border-radius: 38%;
    width: 15%;
    height: 34%;
}

.History {
    display: flex;
}

.historyDesign>div {
    display: flex;
    justify-content: center;

}

.historyDesign>div img {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    padding: 50px;
}


.box-size {
    border: 1px solid brown;
    font-size: 7em
}