
.contact{
    position: relative;
}


  .contactMessage {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contactMessage input,
  textarea,
  button {
    margin-top: auto;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    font-size: 1rem;
    resize: none;
  }

  .signature{
    position: absolute;
    top: 16.5rem;
    left: -5rem;
  }


  @media(max-width:575px){
  .signature{
    position: unset;
    max-width: 200px;
   margin-left: 5rem;
    /* bottom: 20rem;
    z-index: 1; */
  }
  .signature img{
    width: 100%;
  }
}

/* export default contactCss; */