@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap');




.nav-home {
    width: max(100px, 100%);
    font-family: 'El Messiri', sans-serif;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(0.75em + 1vmin);
}

.nav-logo {
    width: 90px;
}

.nav-computer {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    padding: 1.4em;
}

.hoverEffect :hover {
    box-shadow: 1px 1px rgba(0, 98, 90, 0.4),
        3px 3px rgba(0, 98, 90, 0.3),
        5px 5px rgba(0, 98, 90, 0.2),
        10px 10px rgba(0, 98, 90, 0.1),
        10px 10px rgba(0, 98, 90, 0.05);
    transition: box-shadow .6s ease-in-out;
}

.toggleNavBar {
    display: none
}

.nav-mobile {
    display: none;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 900px) {
    body {
        position: relative;
        width: 100vw;
        overflow: hidden;
    }

    a,
    link {
        color: #fff;
        font-size: xx-large;
    }

    .nav-computer {
        display: none;
    }

    .toggleNavBar {
        display: block;
        font-size: 5em;
        position: relative;
        top: 30px;
    }

    .nav-mobile {
        display: block;
        position: absolute;
        top: 120px;
        right: 0;
        left: 50vw;
        text-align: center;
        background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
            linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
        background-color: #131313;
        background-size: 20px 20px;

    }

}