@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');


*,
link {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
    .header-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}

h1,
h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: calc(0.75em + 1vmin);
}

img {
    width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}